*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
header{
    width: 100%;
    background-color: #a02222;
}
.main {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.main img{
    width: 224px
}
.main .text h2{
    width: 352px;
    font-size: 25px;
}
.main .text h2 span {
    color: #a97e04f7;
}
.main .text p {
    text-align: center;
    align-items: center;
    width: 361px;
    margin-top: 20px;
    line-height: 1.6;
    color: #777;
}
.main-text {
    text-align: center;
    margin-top: 20px;
}
.main-text h3{
    width: 557px;
    background-color: #e1441a;
    margin: auto;
    height: 88px;
    padding: 20px;
}
.main-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 40px;
}
.main-landing h2 {
    padding: 0 15px 30px;
    font-size: 40px;
}
.main-landing p {
    width: 380px;
    margin-left: -72px;
    line-height: 1.6;
    color: #777;
}

.services {
    text-align: center;
    margin-top: 80px;
}
.services h1 {
    font-size: 45px;
}
.services .content {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.services .card {
    background-color: rgb(255, 255, 255);
    width: 30.25em;
    box-shadow: rgb(1 1 1 / 15%) 0px 5px 25px;
    padding: 55px;
    margin: 22px;
    border-left: 2px solid  #e1441a;
    transition: all 0.7s ease 0s;
    position: relative;
    
}

.services .card:hover{
    transform: scale(1.1);
    cursor: pointer;;

}
.services .card .info{
    text-align: center;
}
.services .card .info h3{
    font-size: 1.4em;
    font-weight: 700;
    margin: 10px;
}
.services .card .info p{
    line-height: 1.6;
    color: #777;
}
.services .card .icon {
    color: #e1441a;
    font-size: 2em;
}
.services .commments{
    margin-bottom: 90px;
}
.services .commments h2 {
    font-size: 40px;
    margin-bottom: 61px;
}
.services .commments p {
    display: inline-block;
    padding: 40px;
    color: white;
    background-color: #15263a;
}
.services .com {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -48px;
    display: flex;
    list-style: none;
}
.services .com li {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}
.services .com li.active {
    background-color: #e1441a;
    border-color: #e1441a;
}


@media (max-width: 1023px){
    .main .text h2 {
        width: 332px;
        font-size: 25px;
    }
    .main img{
        display: none;
    }
    .main-text h3{
        width: 347px;
    }
    .main-landing{
        flex-direction: column;
        text-align: center;
    }
    .main-landing {
        margin-top: 50px;
}
.main-landing p{
    width:320px;
}
}